.nav_bar{
    width: 100%;
    height: 200px;
    background-color: lightgrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search_bar{
    width: 50%;
}

.login_btn{
    display: float;
    float: right;
}


/* .nav_btn{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.description{
    text-align: center;
    margin: 2%;
}

.footer{
    background-color: lightgray;
    height: auto;

}

.footer_left{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-content: center;

}


.footer_content{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 5%;
}

.tuka_pict{
    display: flex;
    align-items: flex-start;
    
}

.my_divider{
    border-top: 2px solid rgba(34,36,38,.15) !important;
    border-bottom: 2px solid rgba(34,36,38,.15) !important;
}

.row_header{
    margin-left: 5%;
}

.artist_element{
    margin: 1%;
    height: auto;
    width: auto;
}

.outer_container{
    display: inline-block; 
    margin-top: 6%;
}

.center_item{
    text-align: center;
}

.my_img{
    box-shadow: 0 4px 8px 0 rgba(0,0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

.artist_info{
    margin-top: 10px;
}