.artist_element{
    margin: 2%;
    height: auto;
    width: auto;
}


.center_item{
    text-align: center;
}

.my_img{
    box-shadow: 0 4px 8px 0 rgba(0,0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

.artist_info{
    margin-top: 10px;
}