.searchKeysDiv{
    margin-top: 1%;
    text-align: center;
    margin-right: 2rem; 
    background: transparent;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 5rem;
    border-width: 2px;
    width: 11rem;
    height: 2rem;
    line-height: 1.8rem;
    position: relative;
    left:0 ;
    right: 0;
    display: inline-block;}
    .searchKeysWords{
        position:absolute;
        color: white;
        width: 75%;
        bottom: 0.05rem;}
    .searchKeysButton{
        border: none;
        background: transparent;
        position: absolute;
        bottom: 4%;
        right: 6%;
        width: 1.5rem;}
        .searchKeysButton:focus{
            outline: none;}
        .searchKeysButton:hover{
            cursor: pointer;}
        .searchKeysButton img{
            height: 1.5rem;}
        
    
