.formGroup{
    margin-top:-10px;
}
.Table1{
    height: 150px;
    overflow: hidden;
}
.tr1{
    height: 150px;
    overflow: hidden;
}
.th1{
    width: 50%;
}
.th2{
    width: 50%;
}
.divider{
    width: 80%;
    height: 2px;
    color: darkgray;
}
.LogIn{
    text-align: center;
    font-size: large;
}
