.carousel{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 2% ;
    transition: opacity .5s;
    transition-delay: .1s;}
    .carousel::-webkit-scrollbar{
        display: none;
    }
.carouselRow{
    position: relative;
    top: 1rem;
}
.carousel_slide{
    display: inline-block;
    padding-top: 1.25rem;
    height: 150px;
    transition: all .3s;
    
    }
    .carousel_slide img{
        position: relative;
        left: -10%;
        top: -38%;
        height: 120%;
        width: 120%;
        object-fit: cover;
        cursor: pointer;
        bottom: 0;
        box-shadow: 0.1rem 0.1rem 0.5rem gray;
        overflow: hidden;
        clip:rect(100px 10px 10px 10px)}
  
    .carousel_slide:not(:first-child){
        padding-left: 5%;}
    .carousel_window{
        margin-left: 10%;
        width: 9rem;
        height: 9rem;
        overflow: hidden;
        border-radius: 20px;
        transition: all .5s;
        
    }
    .carousel_window:hover{
        transform: scale(1.1);
        }

    .carousel_window:hover .carousel_mask{
        opacity: 1;
        transition: opacity 0.3s;
    }
    
    .carousel_mask{
        opacity: 0;
        position: relative;
        top: 6rem;
        bottom: .1rem;
        left: .7rem;
        transition: opacity 0.5s;
        z-index: 1;
        }
        .carousel_mask:hover{
            

        }
        .carousel_display{
            display: inline-block;
            position: relative;
            
            transition: all .3s;
        }
        .carousel_display:hover{
            transform: scale(1.1);
        }
        .carousel_display img{
            width: 40px;
            height: 40px;
        }
.carousel_viewport{
    opacity: 1;
    transition: opacity .5s;
    transition-delay: .1s;
    width: 90%;}
    .carousel_viewport_hide{
        opacity: 0;
    }
   
.carousel_button{

    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    transition: all .2s; 
}
    .carousel_button--right{
        margin-right: 2rem;
    }
    .carousel_button--left{
        margin-left: 2rem;
    }
    .carousel_button img{
        height: 20px;
    }
.carouselUp{
    position: absolute;
    }
.carouselCloseButton{
    position: relative;
    background:transparent;
    border: none;
    margin-bottom: 1rem;
    margin-left: 4%;
    bottom: 0.3rem;
    }
    .carouselCloseButtonImg{
        transition: transform .3s;
        transform: rotate(360deg);
        width: 1.5rem;}
        .carouselCloseButtonImgRotate{
            transition: transform .3s;
            transform: rotate(180deg);}
.row_header{
    width: 100%;
    margin-left: 2%;
    font-size: 25px;
    font-weight: bold;
    display: inline;
}

.outer_container{
    display: inline-block; 
    margin-top: 6%;
}

.my_divider{
    border-top: 2px solid rgba(34,36,38,.15) !important;
    border-bottom: 2px solid rgba(34,36,38,.15) !important;
    width: 95%;
    margin: 0 auto !important;
}

.flex_wraper{
    position: relative;
    transition: height .3s;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: auto;
    height: 13rem;
    width: 95%;
}
.flex_wrapper_hide {
    transition: height .3s;
    position:relative;
    opacity: 0;
    height: 2rem;
}
.WholeRow{
    width: 100%
}
.WholeRow:nth-child(odd){
    background-color:#edf2f3;
}
.artist_element{
    margin: 2%;
    height: auto;
    width: auto;
}


.center_item{
    text-align: center;
    width: 100px;
}

.my_img{
    /*box-shadow: 0 4px 8px 0 rgba(0,0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    border-radius: 20px;
    height: 100px;
    width: 100px;
}

.artist_info{
    margin-top: 10px;
}
