.carousel{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 2% ;}
    .carousel::-webkit-scrollbar{
        display: none }
.carousel_slide{
    display: inline-block;
    height: 9rem;
    padding-top: 1.25rem;
    transition: all .3s;}
    .carousel_slide img{
        border-radius: 20px;
        height: 100px;
        width: 100px;
        cursor: pointer;}
    .carousel_slide:hover{
        transform: scale(1.1);}
    .carousel_slide:not(:first-child){
        padding-left: 2.5rem;}
    
.carousel_button{
    width: 2rem;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    transition: all .2s; 
}
    .carousel_button--right{
        margin-right: 2rem;
    }
    .carousel_button--left{
        margin-left: 2rem;
    }

.row_header{
    margin-left: 1%;
    margin-top: 2% !important;
    font-size: 25px;
}

.outer_container{
    display: inline-block; 
    margin-top: 6%;
}

.my_divider{
    border-top: 2px solid rgba(34,36,38,.15) !important;
    border-bottom: 2px solid rgba(34,36,38,.15) !important;
    width: 95%;
    margin: 0 auto !important;
}

.flex_wraper{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: auto;
    width: 95%;
}

.WholeRow:nth-child(even){
    background-color:#edf2f3;
}
.artist_element{
    margin: 2%;
    height: auto;
    width: auto;
}


.center_item{
    text-align: center;
    width: 100px;
}

.my_img{
    /*box-shadow: 0 4px 8px 0 rgba(0,0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    border-radius: 20px;
    height: 100px;
    width: 100px;
}

.artist_info{
    margin-top: 10px;
}
