.logindiv{
    display: flex;
    position: relative;
    /* transition: opacity 0.3s; */
    }
    .loginImg{
        width: 50%;
        cursor: pointer;
    }
    
    .menuImg{
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
        margin-top: 5%;
        margin-left: 40%;
        width: 50%;
        cursor: pointer;
    }
    .popUp{
        opacity: 1;
        /* transition: all 0.3s; */
        visibility: visible;
        position: relative;
        background-color: white;
        text-align: center;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 150%;
        border-radius: 2rem;
        box-shadow: 1rem 1rem 4rem rgb(73, 71, 71);}
        .popUp::after{
            content: "";
            position: absolute;
            bottom: 100%;
            border-width: 1.5rem;
            border-style: solid;
            border-color: transparent transparent white transparent;}
    .popUpHide{
        /* transition: opacity 0.5s; */
        visibility: hidden;
        opacity: 0;}
    .logInPopUp{
        width: 160%;
        height: 260%;
        left: -35%;
        }
        .logInPopUp::after{
            left: 50%;
            margin-left: -5.5rem;}
    .menuPopUp{
        width: 160%;
        height: 1000%;
        left: -35%;
        }
        .menuPopUp::after{
            left: 50%;
            margin-left: 3.5rem;}


   
