.top-bar {
    background-color:rgb(151, 1, 1);
    height: 8vh;
}

.top-bar .logo {
    color:white;
    font-size: 33px;
    padding-top:10px;
    padding-bottom:10px;
}

.top-bar .user-options {
    color: white;
    padding-top:25px;
    text-align:center;
}

.user-options u {
    padding:5px;
}