/*.footer_left{*/
    /*width: 50%;*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-content: center;*/

/*}*/
.footer_bg{
    background:#d2d8d9;
    width:100%;
    height:80px;
}

.footer_content{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 0 5%;
}
.background{
    display: none;
    background-color: rgba(141, 141, 141, 0.7);
    position: absolute;
    z-index: 1;
}
.background-show{
    display: block;
}
p{
    margin-top: 0;
    margin-bottom: 1.6rem
}
h5{
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}
.popup-content{
    position: relative;
    font-family: Open Sans;
    border-radius: 1rem;
    text-align: left;
    width: 70% !important;
}
.popUp-body{
    width: 100%;
    height: 40rem;
    overflow-y: scroll;
}
.pop-close-button-border{
    position: absolute;
    width: 3.2rem;
    height: 3.2rem;
    top: -1.5rem;
    right: -1.4rem;
    border-radius: 1.5rem;
    border-style:solid;
    border: 2px solid rgb(88, 88, 88);
}
.pop-close-button{
    position: absolute;
    top: -.15rem;
    right: -.57rem;
    background: transparent;
    border: none;

}
.pop-close-button img{
    width: 3.2rem;
}
.header{
    color: #993300;
    font-size: 28px;
    font-weight: bolder;

    /* float: left; */
}
.popup-content{
    font-size: 20px;
    color:#5e5853;
    height: auto;
}
.pop-allcontent{
    position: relative;
    width: 80%;
    left: 10%;

}
.second-subhead{
    font-weight: bolder;
    font-size: 22px;
    color: #636363;
}
.secondHeader{
    color: #993300;
    font-weight: bolder;
    font-family: Open Sans;
    font-size:26px;
    position: relative;
    width: 90%;

}
.secondContent{
    margin-top: 0;
    margin-bottom: 2rem;
    padding-left: 30px;
    bottom: 1rem;
}

