/*.footer_left{*/
    /*width: 50%;*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-content: center;*/

/*}*/
.footer_bg{
    background:#d2d8d9;
    width:100%;
    height:80px;
}

.footer_content{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 0 5%;
}
.background{
    display: none;
    background-color: rgba(141, 141, 141, 0.7);
    position: absolute;
    z-index: 1;
}
.background-show{
    display: block;
}