.footer_left{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-content: center;

}


.footer_content{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 5%;
}
