.nav_bar{
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: -webkit-linear-gradient(#5D6373, #121335); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#5D6373, #121335); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#5D6373, #121335); /* Firefox 3.6 - 15 */
    background: linear-gradient(#41485c, #121335); /* 标准的语法（必须放在最后） */
}
.keywordsBar{
    background-color: #121335;
    text-align: center;
    height: 3rem;
}
.search_bar{
    width: 100%;
}

.login_btn{
    display: float;
    float: right;
    position: relative;
    bottom: 1.9rem;
    right: 2rem;
}

.navbar__linklist{
    font-size: 2.5rem;
    font-style: italic;
    color: #f56c6cd8;
    margin-top: 2.5rem;
    padding-right: 1rem; 
    text-align: center;
}
.nav_logo{
    position: relative;
    left: 6rem;
    margin-bottom: 5%;
    margin-right: 0;
}
.nav_logo img{
    width: 100%;
}
